"""
Settings for the mrt tool
"""

# Please adjust your loglevel
import logging
logging.basicConfig(level=logging.DEBUG)

# https://www.browserstack.com/accounts/settings
# Under "Automate". It's a tuple of `('username', 'token')`
BROWSER_STACK_ACCESS_KEY = ("", "")

FORCE_REAL_DEVICE = True

# Please order the devices with the popularity so that we can run
# mrt against "top 3 devices". Note that the "Mobile Device Info"
# reported by Google Analytics can be slightly different from
# what browserstack uses.
#
# Visit this page to get a full list of all OS and browsers
#   https://www.browserstack.com/list-of-browsers-and-platforms?product=screenshots
#
# Use the following endpoint to get a list of all supported browsers
#
#   curl -u "{{ACCESS_KEY}}" -H "Content-Type: application/json" \
#       -H "Accept: application/json" \
#       https://www.browserstack.com/screenshots/browsers.json
TARGETS = [
  {
    "os": "android",
    "os_version": "4.1",
    "browser": "Android Browser",
    "device": "Samsung Galaxy Note 2",
    "browser_version": null,
  },
  {
    "os": "android",
    "os_version": "4.3",
    "browser": "Android Browser",
    "device": "Samsung Galaxy S4",
    "browser_version": null,
  },
  {
    "os": "android",
    "os_version": "4.4",
    "browser": "Android Browser",
    "device": "Samsung Galaxy S5",
    "browser_version": null,
  },
  {
    "os": "android",
    "os_version": "5.0",
    "browser": "Android Browser",
    "device": "Google Nexus 9",
    "browser_version": null,
  },
  {
    "os": "android",
    "os_version": "5.0",
    "browser": "Android Browser",
    "device": "Google Nexus 6",
    "browser_version": null,
  },
  {
    "os": "ios",
    "os_version": "7.0",
    "browser": "Mobile Safari",
    "device": "iPhone 5S",
    "browser_version": null,
  },
    {
    "os": "ios",
    "os_version": "8.3",
    "browser": "Mobile Safari",
    "device": "iPhone 6",
    "browser_version": null,
  },
  {
    "os": "ios",
    "os_version": "8.3",
    "browser": "Mobile Safari",
    "device": "iPhone 6 Plus",
    "browser_version": null,
  },
  {
    "os": "ios",
    "os_version": "7.0",
    "browser": "Mobile Safari",
    "device": "iPad 4th",
    "browser_version": null,
  },
  {
    "os": "ios",
    "os_version": "8.3",
    "browser": "Mobile Safari",
    "device": "iPad Air",
    "browser_version": null,
  },
  {
    "os": "ios",
    "os_version": "8.3",
    "browser": "Mobile Safari",
    "device": "iPhone 6",
    "browser_version": null,
  },
{
    "os": "Windows",
    "os_version": "10",
    "browser": "chrome",
    "device": null,
    "browser_version": "50.0",
  },
  {
    "os": "Windows",
    "os_version": "10",
    "browser": "ie",
    "device": null,
    "browser_version": "11.0",
  },
  {
    "os": "Windows",
    "os_version": "10",
    "browser": "edge",
    "device": null,
    "browser_version": "14.0",
  },
{
    "os": "OS X",
    "os_version": "Yosemite",
    "browser": "chrome",
    "device": null,
    "browser_version": "50.0",
  },
     {
    "os": "OS X",
    "os_version": "El Capitan",
    "browser": "chrome",
    "device": null,
    "browser_version": "50.0",
  },
]

# List all urls 
SERVER = "https://staging.happymoose.nz"
SCREEN_SHOT_SAVED_TO = "/Users/alexdong/Dropbox/HappyMoose/MRTScreenshots"
URLS = [
    "/",
    "/products/collage_posters",
    "/products/giant_strips",
    "/products/framed_prints",
    "/products/square_collage_frames",
    "/products/wall_dots",
    "/products/photo_wall_decals",
    "/products/honeycombs",
    "/products/sleek_boards",
    "/products/large_format_prints",
    "/products/panoramic_prints",
    "/products/round_prints",
    "/products/photobooth_strips",
    "/products/square_prints",
    "/products/polaroid_prints",
    "/products/classic_prints",
    "/products/wooden_hangers",

    "/pages/shipping.html",
    "/pages/size-chart.html",
    "/pages/testimonials.html",
    "/pages/contact.html",
    "/pages/about.html",
    "/programs/why-we-care.html",
    "/pages/printers-colour-profiles.html",
    "/programs/volume-discount.html",
    "/leads/paper-sample-kit.html",
    "/programs/photographer-package.html",

    "/blog",
    "/blog/photo-print-matte-open-frame-size-explained"

    "/cart/8359.cg_OttMGcRlbSF5ZrnqOI842_bc",
    "/checkout/8359.cg_OttMGcRlbSF5ZrnqOI842_bc",
    "/editor?item_id=48153.rLP2dVh5RnrSzKYnWVVy7vZiC3s",
    "/editor?product=square_collage_frames-3x3-",
]
